@media (max-width: 480px) {
    body {
        background-size: 100%;
    }
    div img {
        width: 80px;
    }
    h2 {
        max-width: 100%;
        margin: 10px;
        
    }
    .menu ul li {
        font-size: 20px;
    }
    }