header {
    div {
        @include flex-center;
        background-color: $logo-background-color;
        margin: 0%;
    }
    
    h1 {
        display: flex;
    }
    
    img {
        display: flex;
        width: 100px;
        height: 100%;
    }
    }