
// Variables
$background-color: #000000;
$logo-background-color: #675858;
$link-color: black;
$sale-color: rgba(255, 79, 79, 0.593);
$text-color: #675858;
$slider-frame-background-color: #000000;
$slider-frame-text-color: #675858;